body {
	margin: 1%;
	font-family: sans-serif;
	font-size: 20px;
}

textarea {
	font-size: 13px;
	border: none;
	padding: 10px 20px;
	resize: none;
	outline: solid black;
	overflow: hidden;
}

table {
	margin: 0 0 2% 0;
	width: 50%;
}

.personalisation {
	background-color: #d2f4d0;
	width: 245px;
	border-radius: 15px;
	padding: 5px;
}

.aide {
	background-color: #d2f4d0;
	width: 500px;
	border-radius: 15px;
	padding: 5px;
}

button {
	border-radius: 8px;
	background-color:#def2c4
}

.titre2 {
	background-color: rgb(203 255 203);
	width: 305px;
	border-radius: 15px;
	padding: 5px;
}

.titre3 {
	background-color: rgb(203 255 203);
	width: 230px;
	border-radius: 15px;
	padding: 5px;
}

#formulaire {
	border: solid #03635a;
	width: 1000px;
	padding: 10px;
	margin: 5px;
	border-radius:19px;
	background-color:#e4f4d0;
}

.frm {
	display: grid;
}

#idUtilisateur {
	width: 390px;
	border-radius: 15px;
}

#titre {
	width: 390px;
	border-radius: 15px;
}

#auteur {
	width: 390px;
	border-radius: 15px;
	margin: 5px 0 2% 0;
}

#resume {
	width: 75%;
	border-radius: 15px;
}

#pqRessenti {
	width: 75%;
	border-radius: 15px;
	margin: 0 0 2% 0;
}

#slctRecomm {
	font-size: 20px;
	width: 20%;
	height: 30px;
}

#myRange {
	width: 50%;
	height: 50px;
}

#outputCrit {
	width: 75%;
	border-radius: 15px;
	margin: 5px;
}

.star-rating {
	position: absolute;
	left: 100px;
	display: flex;
	align-items: left;
	width: 160px;
	flex-direction: row-reverse;
	justify-content: space-between;
	margin: 40px auto;
}

.star-rating input {
    display: none;
}

.star-rating > label {
	width: 30px;
    height: 30px;
    font-family: Arial;
    font-size: 30px;
    transition: 0.2s ease;
    color: orange;
}

.star-rating label:hover {
    color: #cc7d00;
    transition: 0.2s ease;
}
.star-rating label:active::before {
    transform:scale(1.1);
}

.star-rating label::before {
    content: '\2606';
    position: absolute;
    top: 0px;
    line-height: 26px;
}

.star-rating input:checked ~ label:before {
    content:'\2605';
}

